<!DOCTYPE html> <!-- defaults to html5 -->
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Christopher Cautivar Lab 1: Portfolio</title>
        <link href="css/styles.css" rel="stylesheet" type="text/css"/>
        <link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">
    </head>
    <body>
        
        <header>
            <h1>Christopher Cautivar</h1>
        </header>
        
        <hr>
        <br>