<% include partials/header.ejs %>
        <% include partials/navbar.ejs %>
        <br><br>
        <div id="content">
            <table>
                <tr id="table-header">
                    <td><strong>Programming Language</strong></td>
                    <td><strong>Years Experience</strong></td>
                </tr>
                <tr class="table-row">
                    <td>Java</td>
                    <td>4</td>
                </tr>
                <tr class="table-row">
                    <td>C++</td>
                    <td>3</td>
                </tr>
                <tr class="table-row">
                    <td>Python 3</td>
                    <td>1</td>
                </tr>
            </table>
            <ul>
                <li><span class="hobby">Video games</span>: I play a variety of videogames accross a variety
                of consoles, such as the Nintendo Switch, PS4, and PC. The two 
                games taking up most of my time right now are Monster Hunter World: Iceborne 
                and Super Smash Bros. Ultimate.</li>
                <li><span class="hobby">Small Personal Projects</span>: I also like working 
                on many kinds of small projects, such as designing small functional
                trinkets to be printed by a 3-D printer.</li>
                <li><span class="hobby">Small Coding Projects</span>: I enjoy implementing my knowledge of concepts
                and languages learned in class in small coding projects that do things 
                I find useful or interesting.</li>
                <li><span class="hobby">Music</span>: Whenever possible, I enjoy listening to music, 
                particularly electronic or instrumental.</li>
            </ul>
        </div>
        <!-- This is the footer -->
        <!-- The footer goes inside the body but not always -->
<% include partials/footer.ejs %>