<% include partials/header.ejs %>
        <% include partials/navbar.ejs %>
        <br><br>
        <div id="content">
            <iframe src="https://docs.google.com/forms/d/e/1FAIpQLScN8VxnPNVuE2XJa1ySwE42XcWg2F_0C_vXkVejAfmzOnfKlQ/viewform?embedded=true" width="640" height="1055" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
        </div>
        <!-- This is the footer -->
        <!-- The footer goes inside the body but not always -->
<% include partials/footer.ejs %>