    <% include partials/header.ejs %>
        <% include partials/navbar.ejs %>
        <br><br>
        <main>
            <figure>
                <img style="border-radius:20px" src="img/dog.jpg" alt="Picture of My Dog" />
                
            </figure>
            
            <div id="welcomeText">
                Hello!
                <br>
                <p>Thanks for visiting my portfolio website!</p>
                <p>To the left is a photo of my dog. His name is Ruckus, but he prefers to be called: <%= name %></p>
                <p>I am currently studying to be a Software Engineer.</p>
                <p>I've got a contact page, check the links above!</p>
                
                <br><br>
                
                <em>"'The inner machinations of <strong>my mind</strong> are an enigma.'</em><br>
                - Patrick Star"<br><strong>- Me</strong>
                
            </div>
            
        </main>
    <% include partials/footer.ejs %>